<h4>Collect</h4>

<br /><br />
<form action='/api/collect' method='post'>
  <div class='container row'>
    <div class='col-md-6'>
      <div class='mb-3'>
        <label for='firstname' class='form-label'>firstname</label>
        <input type='text' class='form-control' name='firstname' />
      </div>

      <div class='mb-3'>
        <label for='email' class='form-label'>email</label>
        <input type='email' class='form-control' name='email' />
      </div>

      <div class='mb-3'>
        <label for='amount' class='form-label'>amount</label>
        <input type='number' class='form-control' name='amount' />
      </div>
    </div>

    <div class='col-md-6'>
      <div class='mb-3'>
        <label for='surname' class='form-label'>surname</label>
        <input type='text' class='form-control' name='surname' />
      </div>

      <div class='mb-3'>
        <label for='mobile_no' class='form-label'>mobile_no</label>
        <input type='tel' class='form-control' name='mobile_no' />
      </div>

      <div class='mb-3'>
        <label for='account_number' class='form-label'>account_number</label>
        <input type='text' class='form-control' name='account_number' />
      </div>

    </div>

    <button type='submit' class='btn btn-primary'>Submit</button>
  </div>
</form>