<h3>Open Account</h3>
<br /><br />

<form action='/api/open-account' method='post'>
  <div class='container row'>
    <div class='col-md-6'>
      <div class='mb-3'>
        <label for='firstname' class='form-label'>firstname</label>
        <input type='text' class='form-control' name='firstname' />
      </div>

      <div class='mb-3'>
        <label for='email' class='form-label'>email</label>
        <input type='email' class='form-control' name='email' />
      </div>

      <div class='mb-3'>
        <label for='dob' class='form-label'>dob</label>
        <input type='date' class='form-control' name='dob' />
      </div>

      <div class='mb-3'>
        <label for='title' class='form-label'>title</label>
        <select name='title' class='form-select'>
          <option selected disabled>Select title</option>
          <option value='Mr'>Mr</option>
          <option value='Mrs'>Mrs</option>
          <option value='Ms'>Ms</option>
        </select>
      </div>

      <div class='mb-3'>
        <label for='city' class='form-label'>city</label>
        <input type='text' class='form-control' name='city' />
      </div>

      <div class='mb-3'>
        <label for='country' class='form-label'>country</label>
        <input type='text' class='form-control' name='country' />
      </div>
    </div>
    <div class='col-md-6'>
      <div class='mb-3'>
        <label for='surname' class='form-label'>surname</label>
        <input type='text' class='form-control' name='surname' />
      </div>

      <div class='mb-3'>
        <label for='mobile_no' class='form-label'>mobile_no</label>
        <input type='tel' class='form-control' name='mobile_no' />
      </div>

      <div class='mb-3'>
        <label for='gender' class='form-label'>gender</label>
        <select name='gender' class='form-select'>
          <option selected disabled>Select gender</option>
          <option value='M'>male</option>
          <option value='F'>female</option>
        </select>
      </div>

      <div class='mb-3'>
        <label for='address' class='form-label'>address</label>
        <textarea
          class='form-control'
          name='address'
          cols='10'
          rows='1'
        ></textarea>
      </div>

      <div class='mb-3'>
        <label for='state' class='form-label'>state</label>
        <input type='text' class='form-control' name='state' />
      </div>
    </div>

    <button type='submit' class='btn btn-primary'>Submit</button>
  </div>
</form>